<footer>
  <div class="footer-container">
    <div class="footer-left">
      <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" />
      <p>Copyright © Derechos Reservados</p>
    </div>

    <div class="footer-right">
      <div class="contact-info">
        <p>📍 Dirección: Cartago, Costa Rica</p>
        <p>📞 Teléfono: +506 86285703 </p>
        <p>📧 Email: contacto@frutascongeladas.com</p>
      </div>

      <div class="social-icons">
        <a href="https://www.facebook.com/lalolaproductos?mibextid=wwXIfr&mibextid=wwXIfr" target="_blank" rel="noopener">
          <img src="{{ url_for('static', filename='facebook.png') }}" alt="Facebook" />
        </a>
        <a href="https://www.instagram.com/productoslalola?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank" rel="noopener">
          <img src="{{ url_for('static', filename='instagram.png') }}" alt="Instagram" />
        </a>
        <a href="https://wa.me/50686285703" target="_blank" rel="noopener">
          <img src="{{ url_for('static', filename='whatsapp.png') }}" alt="WhatsApp" />
        </a>
      </div>
    </div>
  </div>
</footer>
